# ./.clang-format
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: 1
SpacesBeforeTrailingComments: 2
BreakBeforeBraces: Attach
KeepEmptyLinesAtTheStartOfBlocks: false
